.wrapper {
display: grid;
grid-auto-rows: 40px;
grid-template-columns: 40px;

}

.case{
   
}

#magic{
/* Code pour case depart background-color:blue;*/
/* Code pour case arrivé background-color:green;*/
/*border-left: solid red;*/
/*border-right:solid red;*/
/*border-bottom:solid red;*/
/*border-top:solid red;*/

}